<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Buscar</title>
</head>
<body>
<div class="nav"></div>

<br/>

<div >
    <div class=" h3 alert alert-primary" role="alert">
        Buscar por texto
    </div>
    <form class="form-inline" action="#" th:action="@{/search/text}" method="post">
        <div class="form-group row">
            <div class="col-md-10">
                <input type="text" class="form-control form-control-lg" id="colFormLabelLg"
                       placeholder="Texto" th:value="${text}" name="text">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>
</div>

<div >
    <div class=" h3 alert alert-primary" role="alert">
        Buscar por versículo
    </div>
    <div class="container-fluid">
        <form>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputState">Libro</label>
                    <select th:object="${books}" id="inputState" class="form-control">
                        <div th:each="book :${books}">
                            <option>
                                <span th:text="${book.getName()}" />
                            </option>
                        </div>

                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputCity">Capítulo</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-1">
                    <label for="inputZip">Versículo</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <a href="#" class="btn btn-primary">Buscar</a>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>